In [1]:
import pandas as pd

dataset = pd.read_csv("DataCoSupplyChainDataset.csv", encoding="latin1")
dataset.head(10)

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class
5,TRANSFER,6,4,18.580000,294.980011,Shipping canceled,0,73,Sporting Goods,Tonawanda,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/19/2018 11:03,Standard Class
6,DEBIT,2,1,95.180000,288.420013,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 10:42,First Class
7,TRANSFER,2,1,68.430000,285.140015,Late delivery,1,73,Sporting Goods,Miami,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 10:21,First Class
8,CASH,3,2,133.720001,278.589996,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 10:00,Second Class
9,CASH,2,1,132.149994,275.309998,Late delivery,1,73,Sporting Goods,San Ramon,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 9:39,First Class

In [2]:
dataset["order date (DateOrders)"] = pd.to_datetime(dataset["order date (DateOrders)"])
# dataset["order date (DateOrders)"]

In [3]:
dataset["shipping date (DateOrders)"] = pd.to_datetime(dataset["shipping date (DateOrders)"])

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  datetime64[ns]
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 52  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](2), float64(15), int64(14), object(22)
memory usage: 73.0+ MB

In [5]:
dataset.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [6]:
dataset.drop("Order Zipcode", axis=1, inplace=True)
dataset.drop("Product Description", axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  datetime64[ns]
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Product Card Id                180519 non-null  int64
 44  Product Category Id            180519 non-null  int64
 45  Product Image                  180519 non-null  object
 46  Product Name                   180519 non-null  object
 47  Product Price                  180519 non-null  float64
 48  Product Status                 180519 non-null  int64
 49  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 50  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](2), float64(13), int64(14), object(22)
memory usage: 70.2+ MB

In [7]:
dataset = dataset[dataset["Delivery Status"] != "Shipping canceled"]
dataset.head(10)

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-02-03 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,Rajastán,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-18 12:27:00,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,Rajastán,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-17 12:06:00,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,Queensland,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-16 11:45:00,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,Queensland,PENDING_PAYMENT,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-15 11:24:00,Standard Class
6,DEBIT,2,1,95.180000,288.420013,Late delivery,1,73,Sporting Goods,Caguas,...,Guangdong,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-15 10:42:00,First Class
7,TRANSFER,2,1,68.430000,285.140015,Late delivery,1,73,Sporting Goods,Miami,...,Guangdong,PROCESSING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-15 10:21:00,First Class
8,CASH,3,2,133.720001,278.589996,Late delivery,1,73,Sporting Goods,Caguas,...,Guangdong,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-16 10:00:00,Second Class
9,CASH,2,1,132.149994,275.309998,Late delivery,1,73,Sporting Goods,San Ramon,...,Guangdong,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-15 09:39:00,First Class
11,TRANSFER,5,2,45.689999,268.760010,Late delivery,1,73,Sporting Goods,Freeport,...,Célebes Septentrional,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-18 08:57:00,Second Class

In [8]:
dataset.drop(
    [
        "Customer Lname",
        "Customer Fname",
        "Customer Email",
        "Customer Password",
        "Department Name",
        "Customer Street",
        "Category Name",
        "Product Image",
        "Product Name"
    ],
    axis=1,
    inplace=True
)

In [9]:
days_pred_df = dataset.loc[:, [
    "Days for shipping (real)",
    "Category Id",
    "Customer City",
    "Customer Country",
    "Customer State",
    "Customer Zipcode",
    "Market",
    "Order City",
    "Order Country",
    "Order Region",
    "Order State",
    "Shipping Mode",
    "Order Item Quantity"
]]
days_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172765 entries, 0 to 180518
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Days for shipping (real)  172765 non-null  int64
 1   Category Id               172765 non-null  int64
 2   Customer City             172765 non-null  object
 3   Customer Country          172765 non-null  object
 4   Customer State            172765 non-null  object
 5   Customer Zipcode          172762 non-null  float64
 6   Market                    172765 non-null  object
 7   Order City                172765 non-null  object
 8   Order Country             172765 non-null  object
 9   Order Region              172765 non-null  object
 10  Order State               172765 non-null  object
 11  Shipping Mode             172765 non-null  object
 12  Order Item Quantity       172765 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 18.5+ MB

In [10]:
days_pred_df.isna().sum()

Days for shipping (real)    0
Category Id                 0
Customer City               0
Customer Country            0
Customer State              0
Customer Zipcode            3
Market                      0
Order City                  0
Order Country               0
Order Region                0
Order State                 0
Shipping Mode               0
Order Item Quantity         0
dtype: int64

In [11]:
# Imputing missing numerical data
from sklearn.impute import SimpleImputer
import numpy as np

# # Create a SimpleImputer Class
# imputer = SimpleImputer(missing_values=np.NaN, strategy="mean")

# # Fit the column to the object
# column = "Customer Zipcode"
# imputer = imputer.fit(dataset.loc[:, [column]])

# # Transform the DataFrames column with the fitted data
# days_pred_df.loc[:, column] = imputer.transform(dataset.loc[:, [column]])

In [10]:
days_pred_df.drop("Customer Zipcode", axis=1, inplace=True)

In [14]:

days_pred_df.head()

,Days for shipping (real),Category Id,Customer City,Customer Country,Customer State,Market,Order City,Order Country,Order Region,Order State,Shipping Mode,Order Item Quantity
0,3,73,Caguas,Puerto Rico,PR,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,Standard Class,1
1,5,73,Caguas,Puerto Rico,PR,Pacific Asia,Bikaner,India,South Asia,Rajastán,Standard Class,1
2,4,73,San Jose,EE. UU.,CA,Pacific Asia,Bikaner,India,South Asia,Rajastán,Standard Class,1
3,3,73,Los Angeles,EE. UU.,CA,Pacific Asia,Townsville,Australia,Oceania,Queensland,Standard Class,1
4,2,73,Caguas,Puerto Rico,PR,Pacific Asia,Townsville,Australia,Oceania,Queensland,Standard Class,1

Feature Engineering for shipping days hypothesis

In [18]:
from scipy.stats import chi2_contingency
def chi_square_test(table):
    stat, p, dof, expected = chi2_contingency(table)
    significance_level = 0.05
    if p <= significance_level:
        print('Dependent (reject H0)')
    else:
        print('Independent (accept H0)')

In [19]:
# test if relations between each columns and traget column(Days for shipping (real)) is strong
column_list = days_pred_df.columns.tolist()
for column in column_list:
    if(column != "Days for shipping (real)"):
        # Create a contingency table
        contingency_table = pd.crosstab(days_pred_df[column], days_pred_df['Days for shipping (real)'])
        print(column)
        chi_square_test(contingency_table)

Category Id
Independent (accept H0)
Customer City
Dependent (reject H0)
Customer Country
Dependent (reject H0)
Customer State
Dependent (reject H0)
Market
Dependent (reject H0)
Order City
Dependent (reject H0)
Order Country
Dependent (reject H0)
Order Region
Dependent (reject H0)
Order State
Dependent (reject H0)
Shipping Mode
Dependent (reject H0)
Order Item Quantity
Independent (accept H0)

"Order Item Quantity" column makes sense from a domain perspective.it logically have an impact on shipping days. it is worth retaining the column even if it doesn't show a significant association in the chi-square test. Plus it will appear in user input so we do not drop any columns from the result of chi square test

In [15]:
from sklearn.preprocessing import OneHotEncoder

one_hot = OneHotEncoder()
encoded = one_hot.fit_transform(days_pred_df[["Order City"]])
encoded.toarray().shape

(172765, 3585)

In [16]:
categorical_cols = [
    "Category Id",
    "Customer City",
    "Customer Country",
    "Customer State",
    "Market",
    "Order City",
    "Order Country",
    "Order State",
    "Order Region",
    "Shipping Mode"
]
encoded_days_pred_df = pd.get_dummies(days_pred_df, columns=categorical_cols)
encoded_days_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172765 entries, 0 to 180518
Columns: 5528 entries, Days for shipping (real) to Shipping Mode_Standard Class
dtypes: int64(2), uint8(5526)
memory usage: 914.4 MB

In [17]:
encoded_days_pred_df.head()

,Days for shipping (real),Order Item Quantity,Category Id_2,Category Id_3,Category Id_4,Category Id_5,Category Id_6,Category Id_7,Category Id_9,Category Id_10,...,Order Region_Southern Europe,Order Region_US Center,Order Region_West Africa,Order Region_West Asia,Order Region_West of USA,Order Region_Western Europe,Shipping Mode_First Class,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class
0,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
X = encoded_days_pred_df.iloc[:, 1:].head(10000)
y = encoded_days_pred_df.iloc[:, 0].head(10000)
X.shape

(10000, 5527)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Create a Random Forest regressor
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42, max_depth=16)

# Fit the model on the training data
rf_regressor.fit(X_train, y_train)

RandomForestRegressor(max_depth=16, random_state=42)

In [18]:
# Predict on the test data
y_pred = rf_regressor.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.695663594492131

In [19]:
rf_regressor.predict(encoded_days_pred_df.iloc[0:10, 1:])

array([4.00066868, 4.01073937, 3.99986779, 3.99062342, 4.00405339,
       2.        , 2.        , 3.96800462, 2.        , 3.98979709])

In [20]:
y[0:10]

0     3
1     5
2     4
3     3
4     2
6     2
7     2
8     3
9     2
11    5
Name: Days for shipping (real), dtype: int64

In [21]:
import torch
import torch.nn as nn
import torch.optim as optim

In [22]:
# Convert data to PyTorch tensors
X_tensor = torch.tensor(X.values, dtype=torch.float32)
y_tensor = torch.tensor(y.values, dtype=torch.float32).unsqueeze(1)  # Add a dimension for regression

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_tensor, y_tensor, test_size=0.2, random_state=42)

In [23]:
from SimpleNeuralNet import NeuralNetwork

In [24]:
# Set hyperparameters
input_dim = X.shape[1]  # Total number of input features
hidden_dim = 64

# Instantiate the model
model = NeuralNetwork(input_dim, hidden_dim)

# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [25]:
# Training loop
num_epochs = 300
for epoch in range(num_epochs):
    model.train()
    optimizer.zero_grad()
    outputs = model(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    
    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [10/300], Loss: 14.7166
Epoch [20/300], Loss: 11.9985
Epoch [30/300], Loss: 8.9278
Epoch [40/300], Loss: 5.9602
Epoch [50/300], Loss: 3.6903
Epoch [60/300], Loss: 2.5047
Epoch [70/300], Loss: 2.1739
Epoch [80/300], Loss: 2.0898
Epoch [90/300], Loss: 1.9766
Epoch [100/300], Loss: 1.8725
Epoch [110/300], Loss: 1.7951
Epoch [120/300], Loss: 1.7281
Epoch [130/300], Loss: 1.6672
Epoch [140/300], Loss: 1.6130
Epoch [150/300], Loss: 1.5641
Epoch [160/300], Loss: 1.5197
Epoch [170/300], Loss: 1.4793
Epoch [180/300], Loss: 1.4424
Epoch [190/300], Loss: 1.4087
Epoch [200/300], Loss: 1.3778
Epoch [210/300], Loss: 1.3496
Epoch [220/300], Loss: 1.3236
Epoch [230/300], Loss: 1.2999
Epoch [240/300], Loss: 1.2781
Epoch [250/300], Loss: 1.2581
Epoch [260/300], Loss: 1.2398
Epoch [270/300], Loss: 1.2230
Epoch [280/300], Loss: 1.2076
Epoch [290/300], Loss: 1.1935
Epoch [300/300], Loss: 1.1806

In [26]:
# Evaluation
model.eval()
with torch.no_grad():
    y_pred = model(X_test)
    mse = mean_squared_error(y_test.numpy(), y_pred.numpy())
    print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 1.8132

In [27]:
import numpy as np
prediction = model(torch.Tensor(X[0:10].to_numpy())).flatten().detach().numpy()
np.concatenate((prediction.reshape(-1, 1), y[0:10].to_numpy().reshape(-1,1)), axis=1)

array([[4.1884222 , 3.        ],
       [4.32627916, 5.        ],
       [4.35324526, 4.        ],
       [3.7404604 , 3.        ],
       [3.84164214, 2.        ],
       [2.55640912, 2.        ],
       [2.16466904, 2.        ],
       [3.85039115, 3.        ],
       [2.93048453, 2.        ],
       [5.046381  , 5.        ]])

In [28]:
y[0:10].to_numpy().reshape(1,-1)

array([[3, 5, 4, 3, 2, 2, 2, 3, 2, 5]], dtype=int64)

In [29]:
# Set hyperparameters
input_dim = X.shape[1]  # Total number of input features
hidden_dim = 128

# Instantiate the model
model128 = NeuralNetwork(input_dim, hidden_dim)

# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model128.parameters(), lr=0.001)

In [30]:
# Training loop
num_epochs = 300
for epoch in range(num_epochs):
    model128.train()
    optimizer.zero_grad()
    outputs = model128(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    
    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [10/300], Loss: 12.8859
Epoch [20/300], Loss: 9.0311
Epoch [30/300], Loss: 5.2618
Epoch [40/300], Loss: 2.8231
Epoch [50/300], Loss: 2.2052
Epoch [60/300], Loss: 2.1510
Epoch [70/300], Loss: 1.9391
Epoch [80/300], Loss: 1.8070
Epoch [90/300], Loss: 1.7153
Epoch [100/300], Loss: 1.6285
Epoch [110/300], Loss: 1.5562
Epoch [120/300], Loss: 1.4924
Epoch [130/300], Loss: 1.4353
Epoch [140/300], Loss: 1.3826
Epoch [150/300], Loss: 1.3341
Epoch [160/300], Loss: 1.2903
Epoch [170/300], Loss: 1.2512
Epoch [180/300], Loss: 1.2167
Epoch [190/300], Loss: 1.1862
Epoch [200/300], Loss: 1.1593
Epoch [210/300], Loss: 1.1356
Epoch [220/300], Loss: 1.1145
Epoch [230/300], Loss: 1.0958
Epoch [240/300], Loss: 1.0791
Epoch [250/300], Loss: 1.0641
Epoch [260/300], Loss: 1.0505
Epoch [270/300], Loss: 1.0380
Epoch [280/300], Loss: 1.0267
Epoch [290/300], Loss: 1.0163
Epoch [300/300], Loss: 1.0068

In [31]:
# Evaluation
model128.eval()
with torch.no_grad():
    y_pred = model128(X_test)
    mse = mean_squared_error(y_test.numpy(), y_pred.numpy())
    print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 1.8068

In [32]:
import numpy as np
prediction = model128(torch.Tensor(X[0:10].to_numpy())).flatten().detach().numpy()
np.concatenate((prediction.reshape(-1, 1), y[0:10].to_numpy().reshape(-1,1)), axis=1)

array([[4.31510067, 3.        ],
       [4.423491  , 5.        ],
       [4.511024  , 4.        ],
       [3.82108545, 3.        ],
       [3.62980747, 2.        ],
       [2.21556044, 2.        ],
       [2.24503708, 2.        ],
       [4.06535912, 3.        ],
       [3.12161255, 2.        ],
       [5.17216825, 5.        ]])

In [33]:
torch.save(model128.state_dict(), 'model128.pth')

In [35]:
import requests

# URL of your Flask app's predict route
url = 'http://localhost:5000/predict'  

# will need preprocessing
input_data = {
    "input_data": [int(i) for i in X_tensor[0]] 
}

# Send POST request
response = requests.post(url, json=input_data)

if response.status_code == 200:
    data = response.json()
    predictions = data['predictions']
    print("Predictions:", predictions)
else:
    print("Error:", response.text)

Predictions: [4.270360946655273]

In [4]:
dataset.shape

(180519, 53)