In [1]:
import pandas as pd

dataset = pd.read_csv("dataCo1kDistance.csv")
dataset.head(5)

,Unnamed: 0,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,...,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Shipping Cost,Distance,order_coords
0,0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class,12.875739,18481.922336,"Kota Bekasi, Jawa Barat, Jawa, Indonesia"
1,1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class,11.950647,13278.496831,"Bikaner, Bikaner Tehsil, Bikaner District, Raj..."
2,2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class,14.620250,12603.663952,"Bikaner, Bikaner Tehsil, Bikaner District, Raj..."
3,3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class,8.990151,11625.195512,"Townsville, Townsville City, Queensland, 4810,..."
4,4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class,12.042371,16572.070499,"Townsville, Townsville City, Queensland, 4810,..."

In [2]:
dataset["order date (DateOrders)"] = pd.to_datetime(dataset["order date (DateOrders)"])
# dataset["order date (DateOrders)"]

In [3]:
dataset["shipping date (DateOrders)"] = pd.to_datetime(dataset["shipping date (DateOrders)"])

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 57 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1000 non-null   int64
 1   Type                           1000 non-null   object
 2   Days for shipping (real)       1000 non-null   int64
 3   Days for shipment (scheduled)  1000 non-null   int64
 4   Benefit per order              1000 non-null   float64
 5   Sales per customer             1000 non-null   float64
 6   Delivery Status                1000 non-null   object
 7   Late_delivery_risk             1000 non-null   int64
 8   Category Id                    1000 non-null   int64
 9   Category Name                  1000 non-null   object
 10  Customer City                  1000 non-null   object
 11  Customer Country               1000 non-null   object
 12  Customer Email                 1000 non-null   object
 13  Customer Fname                 1000 non-null   object
 14  Customer Id                    1000 non-null   int64
 15  Customer Lname                 1000 non-null   object
 16  Customer Password              1000 non-null   object
 17  Customer Segment               1000 non-null   object
 18  Customer State                 1000 non-null   object
 19  Customer Street                1000 non-null   object
 20  Customer Zipcode               1000 non-null   float64
 21  Department Id                  1000 non-null   int64
 22  Department Name                1000 non-null   object
 23  Latitude                       1000 non-null   float64
 24  Longitude                      1000 non-null   float64
 25  Market                         1000 non-null   object
 26  Order City                     1000 non-null   object
 27  Order Country                  1000 non-null   object
 28  Order Customer Id              1000 non-null   int64
 29  order date (DateOrders)        1000 non-null   datetime64[ns]
 30  Order Id                       1000 non-null   int64
 31  Order Item Cardprod Id         1000 non-null   int64
 32  Order Item Discount            1000 non-null   float64
 33  Order Item Discount Rate       1000 non-null   float64
 34  Order Item Id                  1000 non-null   int64
 35  Order Item Product Price       1000 non-null   float64
 36  Order Item Profit Ratio        1000 non-null   float64
 37  Order Item Quantity            1000 non-null   int64
 38  Sales                          1000 non-null   float64
 39  Order Item Total               1000 non-null   float64
 40  Order Profit Per Order         1000 non-null   float64
 41  Order Region                   1000 non-null   object
 42  Order State                    1000 non-null   object
 43  Order Status                   1000 non-null   object
 44  Order Zipcode                  33 non-null     float64
 45  Product Card Id                1000 non-null   int64
 46  Product Category Id            1000 non-null   int64
 47  Product Description            0 non-null      float64
 48  Product Image                  1000 non-null   object
 49  Product Name                   1000 non-null   object
 50  Product Price                  1000 non-null   float64
 51  Product Status                 1000 non-null   int64
 52  shipping date (DateOrders)     1000 non-null   datetime64[ns]
 53  Shipping Mode                  1000 non-null   object
 54  Shipping Cost                  1000 non-null   float64
 55  Distance                       1000 non-null   float64
 56  order_coords                   896 non-null    object
dtypes: datetime64[ns](2), float64(17), int64(15), object(23)
memory usage: 445.4+ KB

In [5]:
dataset.isnull().sum()

Unnamed: 0                          0
Type                                0
Days for shipping (real)            0
Days for shipment (scheduled)       0
Benefit per order                   0
Sales per customer                  0
Delivery Status                     0
Late_delivery_risk                  0
Category Id                         0
Category Name                       0
Customer City                       0
Customer Country                    0
Customer Email                      0
Customer Fname                      0
Customer Id                         0
Customer Lname                      0
Customer Password                   0
Customer Segment                    0
Customer State                      0
Customer Street                     0
Customer Zipcode                    0
Department Id                       0
Department Name                     0
Latitude                            0
Longitude                           0
Market                              0
Order City                          0
Order Country                       0
Order Customer Id                   0
order date (DateOrders)             0
Order Id                            0
Order Item Cardprod Id              0
Order Item Discount                 0
Order Item Discount Rate            0
Order Item Id                       0
Order Item Product Price            0
Order Item Profit Ratio             0
Order Item Quantity                 0
Sales                               0
Order Item Total                    0
Order Profit Per Order              0
Order Region                        0
Order State                         0
Order Status                        0
Order Zipcode                     967
Product Card Id                     0
Product Category Id                 0
Product Description              1000
Product Image                       0
Product Name                        0
Product Price                       0
Product Status                      0
shipping date (DateOrders)          0
Shipping Mode                       0
Shipping Cost                       0
Distance                            0
order_coords                      104
dtype: int64

In [6]:
dataset.drop("Order Zipcode", axis=1, inplace=True)
dataset.drop("Product Description", axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1000 non-null   int64
 1   Type                           1000 non-null   object
 2   Days for shipping (real)       1000 non-null   int64
 3   Days for shipment (scheduled)  1000 non-null   int64
 4   Benefit per order              1000 non-null   float64
 5   Sales per customer             1000 non-null   float64
 6   Delivery Status                1000 non-null   object
 7   Late_delivery_risk             1000 non-null   int64
 8   Category Id                    1000 non-null   int64
 9   Category Name                  1000 non-null   object
 10  Customer City                  1000 non-null   object
 11  Customer Country               1000 non-null   object
 12  Customer Email                 1000 non-null   object
 13  Customer Fname                 1000 non-null   object
 14  Customer Id                    1000 non-null   int64
 15  Customer Lname                 1000 non-null   object
 16  Customer Password              1000 non-null   object
 17  Customer Segment               1000 non-null   object
 18  Customer State                 1000 non-null   object
 19  Customer Street                1000 non-null   object
 20  Customer Zipcode               1000 non-null   float64
 21  Department Id                  1000 non-null   int64
 22  Department Name                1000 non-null   object
 23  Latitude                       1000 non-null   float64
 24  Longitude                      1000 non-null   float64
 25  Market                         1000 non-null   object
 26  Order City                     1000 non-null   object
 27  Order Country                  1000 non-null   object
 28  Order Customer Id              1000 non-null   int64
 29  order date (DateOrders)        1000 non-null   datetime64[ns]
 30  Order Id                       1000 non-null   int64
 31  Order Item Cardprod Id         1000 non-null   int64
 32  Order Item Discount            1000 non-null   float64
 33  Order Item Discount Rate       1000 non-null   float64
 34  Order Item Id                  1000 non-null   int64
 35  Order Item Product Price       1000 non-null   float64
 36  Order Item Profit Ratio        1000 non-null   float64
 37  Order Item Quantity            1000 non-null   int64
 38  Sales                          1000 non-null   float64
 39  Order Item Total               1000 non-null   float64
 40  Order Profit Per Order         1000 non-null   float64
 41  Order Region                   1000 non-null   object
 42  Order State                    1000 non-null   object
 43  Order Status                   1000 non-null   object
 44  Product Card Id                1000 non-null   int64
 45  Product Category Id            1000 non-null   int64
 46  Product Image                  1000 non-null   object
 47  Product Name                   1000 non-null   object
 48  Product Price                  1000 non-null   float64
 49  Product Status                 1000 non-null   int64
 50  shipping date (DateOrders)     1000 non-null   datetime64[ns]
 51  Shipping Mode                  1000 non-null   object
 52  Shipping Cost                  1000 non-null   float64
 53  Distance                       1000 non-null   float64
 54  order_coords                   896 non-null    object
dtypes: datetime64[ns](2), float64(15), int64(15), object(23)
memory usage: 429.8+ KB

In [7]:
dataset = dataset[dataset["Delivery Status"] != "Shipping canceled"]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 0 to 999
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     924 non-null    int64
 1   Type                           924 non-null    object
 2   Days for shipping (real)       924 non-null    int64
 3   Days for shipment (scheduled)  924 non-null    int64
 4   Benefit per order              924 non-null    float64
 5   Sales per customer             924 non-null    float64
 6   Delivery Status                924 non-null    object
 7   Late_delivery_risk             924 non-null    int64
 8   Category Id                    924 non-null    int64
 9   Category Name                  924 non-null    object
 10  Customer City                  924 non-null    object
 11  Customer Country               924 non-null    object
 12  Customer Email                 924 non-null    object
 13  Customer Fname                 924 non-null    object
 14  Customer Id                    924 non-null    int64
 15  Customer Lname                 924 non-null    object
 16  Customer Password              924 non-null    object
 17  Customer Segment               924 non-null    object
 18  Customer State                 924 non-null    object
 19  Customer Street                924 non-null    object
 20  Customer Zipcode               924 non-null    float64
 21  Department Id                  924 non-null    int64
 22  Department Name                924 non-null    object
 23  Latitude                       924 non-null    float64
 24  Longitude                      924 non-null    float64
 25  Market                         924 non-null    object
 26  Order City                     924 non-null    object
 27  Order Country                  924 non-null    object
 28  Order Customer Id              924 non-null    int64
 29  order date (DateOrders)        924 non-null    datetime64[ns]
 30  Order Id                       924 non-null    int64
 31  Order Item Cardprod Id         924 non-null    int64
 32  Order Item Discount            924 non-null    float64
 33  Order Item Discount Rate       924 non-null    float64
 34  Order Item Id                  924 non-null    int64
 35  Order Item Product Price       924 non-null    float64
 36  Order Item Profit Ratio        924 non-null    float64
 37  Order Item Quantity            924 non-null    int64
 38  Sales                          924 non-null    float64
 39  Order Item Total               924 non-null    float64
 40  Order Profit Per Order         924 non-null    float64
 41  Order Region                   924 non-null    object
 42  Order State                    924 non-null    object
 43  Order Status                   924 non-null    object
 44  Product Card Id                924 non-null    int64
 45  Product Category Id            924 non-null    int64
 46  Product Image                  924 non-null    object
 47  Product Name                   924 non-null    object
 48  Product Price                  924 non-null    float64
 49  Product Status                 924 non-null    int64
 50  shipping date (DateOrders)     924 non-null    datetime64[ns]
 51  Shipping Mode                  924 non-null    object
 52  Shipping Cost                  924 non-null    float64
 53  Distance                       924 non-null    float64
 54  order_coords                   824 non-null    object
dtypes: datetime64[ns](2), float64(15), int64(15), object(23)
memory usage: 404.2+ KB

In [8]:
dataset.drop(
    [
        "Customer Lname",
        "Customer Fname",
        "Customer Email",
        "Customer Password",
        "Department Name",
        "Customer Street",
        "Category Name",
        "Product Image",
        "Product Name"
    ],
    axis=1,
    inplace=True
)

In [9]:
days_pred_df = dataset.loc[:, [
    "Days for shipping (real)",
    "Category Id",
    "Customer City",
    "Customer Country",
    "Order City",
    "Order Country",
    "Shipping Mode",
    "Order Item Quantity",
    "Distance"
]]
days_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Days for shipping (real)  924 non-null    int64
 1   Category Id               924 non-null    int64
 2   Customer City             924 non-null    object
 3   Customer Country          924 non-null    object
 4   Order City                924 non-null    object
 5   Order Country             924 non-null    object
 6   Shipping Mode             924 non-null    object
 7   Order Item Quantity       924 non-null    int64
 8   Distance                  924 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 72.2+ KB

In [10]:
from sklearn.preprocessing import MinMaxScaler

# List of numerical features to be scaled
numerical_features = ['Order Item Quantity', 'Distance']
y_feature = ['Days for shipping (real)']

# Apply MinMaxScaler for normalization
minmax_scaler = MinMaxScaler()
days_scaler = MinMaxScaler()
days_pred_df[numerical_features] = minmax_scaler.fit_transform(days_pred_df[numerical_features])
days_pred_df[y_feature] = days_scaler.fit_transform(days_pred_df.loc[:,y_feature])

In [14]:
days_pred_df["Customer City"].unique()

array(['Caguas', 'San Jose', 'Los Angeles', 'Miami', 'San Ramon',
       'Freeport', 'Salinas', 'Peabody', 'Canovanas', 'Paramount',
       'Mount Prospect', 'Long Beach', 'Rancho Cordova', 'Wilkes Barre',
       'Roseville', 'Bellflower', 'Wheaton', 'Detroit', 'Dallas',
       'Carlisle', 'Panorama City', 'Atlanta', 'Fremont', 'Rochester',
       'Bayamon', 'Guayama', 'Juana Diaz', 'Ontario', 'Oviedo', 'Buffalo',
       'Honolulu', 'Oceanside', 'North Tonawanda', 'Clovis', 'Jamaica',
       'Granite City', 'Medford', 'Pomona', 'Tempe', 'Santa Ana', 'York',
       'Aurora', 'Simi Valley', 'Silver Spring', 'Saint Paul',
       'San Antonio', 'Philadelphia', 'Bronx', 'Greenville', 'Morristown',
       'San Diego', 'Oxnard', 'Albuquerque', 'Amarillo', 'Lutz', 'Bend',
       'East Brunswick', 'Lancaster', 'Houston', 'Hampton', 'New York',
       'Porterville', 'Portland', 'Strongsville', 'El Paso', 'Del Rio',
       'Bountiful', 'Kent', 'Chicago', 'Plymouth', 'Far Rockaway',
       'Garden Grove', 'Placentia', 'Mentor', 'Santa Clara', 'Union',
       'Westminster', 'Pompano Beach', 'Azusa', 'Fort Lauderdale',
       'Princeton', 'Perth Amboy', 'Loveland', 'Virginia Beach',
       'Louisville', 'Lockport', 'Staten Island', 'Tucson', 'Cleveland',
       'Webster', 'Stockton', 'Martinsburg', 'Cumberland', 'Pekin',
       'Tallahassee', 'Jacksonville', 'Woonsocket', 'Lithonia',
       'Oak Lawn', 'Alhambra', 'New Haven', 'Phoenix', 'Kenner',
       'Washington', 'Holland', 'Morrisville', 'Memphis', 'Federal Way',
       'West Covina', 'Ventura', 'Valrico', 'Kaneohe', 'Brooklyn',
       'Fort Worth', 'Lodi', 'Bakersfield', 'Murfreesboro', 'Carlsbad',
       'Hamilton', 'Hayward', 'Bridgeton', 'Bay Shore', 'Palatine',
       'Smyrna', 'Van Nuys', 'Opa Locka', 'Edison', 'Baytown', 'Sylmar',
       'Burnsville', 'Huntington Station', 'Sunnyvale', 'Sugar Land',
       'Brighton', 'Bismarck', 'Gaithersburg', 'Lilburn', 'Provo',
       'Columbia', 'Marietta', 'Rio Grande', 'Denver', 'Taylor',
       'Saint Charles', 'Cupertino', 'Springfield', 'Mission Viejo',
       'Roswell', 'Ypsilanti', 'Peoria', 'Clementon', 'Antioch',
       'Salt Lake City', 'Granada Hills', 'Hempstead', 'Astoria',
       'Gilroy', 'Lenoir', 'Columbus', 'Albany', 'Humacao', 'Lindenhurst',
       'Elyria', 'Riverside', 'Carson', 'Mesa', 'San Juan', 'Vega Baja',
       'Mayaguez', 'San Sebastian', 'Eugene', 'Algonquin', 'Indianapolis',
       'Buena Park', 'Catonsville', 'Jersey City', 'Encinitas', 'Rome',
       'Watsonville', 'Meridian', 'Endicott', 'Katy', 'Visalia', 'Lompoc',
       'Ogden', 'Raleigh', 'Hacienda Heights', 'Union City', 'Hollywood',
       'Bolingbrook', 'West Lafayette', 'Newark', 'Woodbridge', 'Weslaco',
       'Lakewood', 'Bell Gardens', 'La Mirada', 'Billings',
       'North Bergen', 'Baltimore', 'Madison', 'South San Francisco',
       'North Las Vegas', 'Methuen', 'Costa Mesa', 'Glen Burnie',
       'Fairfield', 'Winnetka', 'Mcallen', 'Joliet', 'Brownsville',
       'Pawtucket', 'Colorado Springs', 'Quincy', 'Pittsfield', 'Chino',
       'Marion', 'North Hills', 'Salina', 'Hyattsville',
       'North Richland Hills', 'Spring Valley', 'Lawrence', 'Newburgh',
       'Milpitas', 'Rowland Heights', 'Gardena', 'Cicero', 'Asheboro',
       'La Crosse', 'Florissant', 'Canyon Country', 'Ithaca', 'Allentown',
       'Escondido', 'Martinez', 'Troy', 'Arlington', 'Tonawanda',
       'New Bedford', 'Davis', 'Chandler', 'Fullerton', 'Elgin',
       'Palmdale', 'Massapequa', 'Pittsburg', 'West New York', 'Lansdale',
       'Orlando', 'Hanover', 'Glendale', 'Enfield', 'Baldwin Park',
       'Chino Hills', 'Toms River'], dtype=object)

In [11]:
# Imputing missing numerical data
from sklearn.impute import SimpleImputer
import numpy as np

# # Create a SimpleImputer Class
# imputer = SimpleImputer(missing_values=np.NaN, strategy="mean")

# # Fit the column to the object
# column = "Customer Zipcode"
# imputer = imputer.fit(dataset.loc[:, [column]])

# # Transform the DataFrames column with the fitted data
# days_pred_df.loc[:, column] = imputer.transform(dataset.loc[:, [column]])

In [13]:
# days_pred_df.drop("Customer Zipcode", axis=1, inplace=True)

In [14]:

days_pred_df.head()

,Days for shipping (real),Category Id,Customer City,Customer Country,Order City,Order Country,Shipping Mode,Order Item Quantity,Distance
0,0.500000,73,Caguas,Puerto Rico,Bekasi,Indonesia,Standard Class,0.0,0.983261
1,0.833333,73,Caguas,Puerto Rico,Bikaner,India,Standard Class,0.0,0.700822
2,0.666667,73,San Jose,EE. UU.,Bikaner,India,Standard Class,0.0,0.664192
3,0.500000,73,Los Angeles,EE. UU.,Townsville,Australia,Standard Class,0.0,0.611081
4,0.333333,73,Caguas,Puerto Rico,Townsville,Australia,Standard Class,0.0,0.879595

Feature Engineering for shipping days hypothesis

In [15]:
from scipy.stats import chi2_contingency
def chi_square_test(table):
    stat, p, dof, expected = chi2_contingency(table)
    significance_level = 0.05
    if p <= significance_level:
        print('Dependent (reject H0)')
    else:
        print('Independent (accept H0)')

In [16]:
# test if relations between each columns and traget column(Days for shipping (real)) is strong
column_list = days_pred_df.columns.tolist()
for column in column_list:
    if(column != "Days for shipping (real)"):
        # Create a contingency table
        contingency_table = pd.crosstab(days_pred_df[column], days_pred_df['Days for shipping (real)'])
        print(column)
        chi_square_test(contingency_table)

Category Id
Dependent (reject H0)
Customer City
Dependent (reject H0)
Customer Country
Independent (accept H0)
Order City
Dependent (reject H0)
Order Country
Dependent (reject H0)
Shipping Mode
Dependent (reject H0)
Order Item Quantity
Independent (accept H0)
Distance
Dependent (reject H0)

"Order Item Quantity" column makes sense from a domain perspective.it logically have an impact on shipping days. it is worth retaining the column even if it doesn't show a significant association in the chi-square test. Plus it will appear in user input so we do not drop any columns from the result of chi square test

In [17]:
from sklearn.preprocessing import OneHotEncoder

one_hot = OneHotEncoder()
encoded = one_hot.fit_transform(days_pred_df[["Order City"]])
encoded.toarray().shape

(924, 518)

In [18]:
categorical_cols = [
    "Category Id",
    "Customer City",
    "Customer Country",
    "Order City",
    "Order Country",
    "Shipping Mode"
]
encoded_days_pred_df = pd.get_dummies(days_pred_df, columns=categorical_cols)
encoded_days_pred_df.head()

,Days for shipping (real),Order Item Quantity,Distance,Category Id_2,Category Id_3,Category Id_4,Category Id_5,Category Id_6,Category Id_9,Category Id_10,...,Order Country_Uruguay,Order Country_UzbekistÃ¡n,Order Country_Venezuela,Order Country_Vietnam,Order Country_Yemen,Order Country_Zambia,Shipping Mode_First Class,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class
0,0.500000,0.0,0.983261,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.833333,0.0,0.700822,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.666667,0.0,0.664192,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.500000,0.0,0.611081,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0.333333,0.0,0.879595,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
encoded_days_pred_df.head()

,Days for shipping (real),Order Item Quantity,Distance,Category Id_2,Category Id_3,Category Id_4,Category Id_5,Category Id_6,Category Id_9,Category Id_10,...,Order Country_Uruguay,Order Country_UzbekistÃ¡n,Order Country_Venezuela,Order Country_Vietnam,Order Country_Yemen,Order Country_Zambia,Shipping Mode_First Class,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class
0,0.500000,0.0,0.983261,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.833333,0.0,0.700822,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.666667,0.0,0.664192,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.500000,0.0,0.611081,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0.333333,0.0,0.879595,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
X = encoded_days_pred_df.iloc[:, 1:]
y = encoded_days_pred_df.iloc[:, 0]
X.shape

(924, 902)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
# Create a Random Forest regressor
rf_regressor = RandomForestRegressor(n_estimators=300, random_state=42, max_depth=16)

# Fit the model on the training data
rf_regressor.fit(X_train, y_train)

RandomForestRegressor(max_depth=16, n_estimators=300, random_state=42)

In [23]:
# Predict on the test data
y_pred = rf_regressor.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.04920147195430222

In [26]:
days_scaler.inverse_transform(
    rf_regressor.predict(encoded_days_pred_df.iloc[0:10, 1:]).reshape(-1, 1)
)

array([[3.69935258],
       [3.94128417],
       [3.7823338 ],
       [3.63920261],
       [3.27866219],
       [2.        ],
       [2.        ],
       [3.89144867],
       [2.        ],
       [4.39043047]])

In [29]:
days_scaler.inverse_transform(y[0:10].to_numpy().reshape(-1, 1))

array([[3.],
       [5.],
       [4.],
       [3.],
       [2.],
       [2.],
       [2.],
       [3.],
       [2.],
       [5.]])

In [30]:
import torch
import torch.nn as nn
import torch.optim as optim

In [31]:
# Convert data to PyTorch tensors
X_tensor = torch.tensor(X.values, dtype=torch.float32)
y_tensor = torch.tensor(y.values, dtype=torch.float32).unsqueeze(1)  # Add a dimension for regression

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_tensor, y_tensor, test_size=0.2, random_state=42)

In [32]:
from SimpleNeuralNet import NeuralNetwork

In [33]:
# Set hyperparameters
input_dim = X.shape[1]  # Total number of input features
hidden_dim = 64
# Instantiate the model
model = NeuralNetwork(input_dim, hidden_dim)

# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001, weight_decay = 0.001)

# Training loop
patience = 50
counter = 0
lowest_mse = 9999
num_epochs = 2500
for epoch in range(num_epochs):
    model.train()
    optimizer.zero_grad()
    outputs = model(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    y_pred = model(X_test)
    mse = mean_squared_error(y_test.detach().numpy(), y_pred.detach().numpy())
    if mse < lowest_mse:
        lowest_mse = mse
        counter = 0
    else:
        counter += 1
        if counter >= patience:
            print(f"Breaking early at epoch {epoch}, MSE:{mse}")
            break
    
    if (epoch + 1) % 500 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

Breaking early at epoch 117, MSE:0.07083050906658173

In [34]:
# Evaluation
model.eval()
with torch.no_grad():
    y_pred = model(X_test)
    mse = mean_squared_error(y_test.numpy(), y_pred.numpy())
    print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 0.0635

In [54]:
import numpy as np

prediction = model(torch.Tensor(X[0:10].to_numpy())).flatten().detach().numpy()
np.concatenate(
    (days_scaler.inverse_transform((prediction.reshape(-1, 1))),
    days_scaler.inverse_transform(y[0:10].to_numpy().reshape(-1, 1))),
    axis=1
)

array([[3.49003077, 3.        ],
       [4.49221516, 5.        ],
       [4.02338696, 4.        ],
       [2.68817902, 3.        ],
       [3.05653739, 2.        ],
       [2.06934595, 2.        ],
       [1.53297222, 2.        ],
       [3.57362366, 3.        ],
       [1.80365288, 2.        ],
       [4.67845631, 5.        ]])

In [55]:
# Set hyperparameters
input_dim = X.shape[1]  # Total number of input features
hidden_dim = 128

# Instantiate the model
model128 = NeuralNetwork(input_dim, hidden_dim)

# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model128.parameters(), lr=0.001, weight_decay=0.001)

# Training loop
patience = 50
counter = 0
lowest_mse = 9999
num_epochs = 2500
for epoch in range(num_epochs):
    model128.train()
    optimizer.zero_grad()
    outputs = model128(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    y_pred = model128(X_test)
    mse = mean_squared_error(y_test.detach().numpy(), y_pred.detach().numpy())
    if mse < lowest_mse:
        lowest_mse = mse
        counter = 0
    else:
        counter += 1
        if counter >= patience:
            print(f"Breaking early at epoch {epoch}, MSE:{mse}")
            break

    if (epoch + 1) % 500 == 0:
        print(f"Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}")

Breaking early at epoch 108, MSE:0.07748867571353912

In [56]:
# Evaluation
model128.eval()
with torch.no_grad():
    y_pred = model128(X_test)
    mse = mean_squared_error(y_test.numpy(), y_pred.numpy())
    print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 0.0637

In [57]:
import numpy as np
prediction = model128(torch.Tensor(X[0:10].to_numpy())).flatten().detach().numpy()
np.concatenate(
    (days_scaler.inverse_transform((prediction.reshape(-1, 1))),
    days_scaler.inverse_transform(y[0:10].to_numpy().reshape(-1, 1))),
    axis=1
)

array([[3.44577217, 3.        ],
       [4.48425579, 5.        ],
       [4.06962776, 4.        ],
       [2.53676748, 3.        ],
       [2.9599793 , 2.        ],
       [2.0837183 , 2.        ],
       [1.47522652, 2.        ],
       [3.65691137, 3.        ],
       [1.78044319, 2.        ],
       [4.62229776, 5.        ]])

In [59]:
torch.save(model.state_dict(), 'days_model.pth')

In [11]:
import joblib
joblib.dump(days_scaler, "days_pred_scaler.pkl")
joblib.dump(minmax_scaler, "quantity_distance_scaler.pkl")

['quantity_distance_scaler.pkl']

In [62]:
import requests

# URL of your Flask app's predict route
url = 'http://localhost:5000/predict'  

# will need preprocessing
input_data = {
    "input_data": [int(i) for i in X_tensor[0]] 
}

# Send POST request
response = requests.post(url, json=input_data)

if response.status_code == 200:
    data = response.json()
    predictions = data['predictions']
    print("Predictions:", predictions)
else:
    print("Error:", response.text)

Predictions: [[3.041785955429077]]

In [4]:
dataset.shape

(180519, 53)