In [1]:
import pandas as pd

dataset = pd.read_csv("dataCo1kDistance.csv")
dataset.head(10)

,Unnamed: 0,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,...,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Shipping Cost,Distance,order_coords
0,0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class,12.875739,18481.922336,"Kota Bekasi, Jawa Barat, Jawa, Indonesia"
1,1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class,11.950647,13278.496831,"Bikaner, Bikaner Tehsil, Bikaner District, Raj..."
2,2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class,14.620250,12603.663952,"Bikaner, Bikaner Tehsil, Bikaner District, Raj..."
3,3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class,8.990151,11625.195512,"Townsville, Townsville City, Queensland, 4810,..."
4,4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class,12.042371,16572.070499,"Townsville, Townsville City, Queensland, 4810,..."
5,5,TRANSFER,6,4,18.580000,294.980011,Shipping canceled,0,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/19/2018 11:03,Standard Class,8.396129,15173.726929,"Toowoomba, Toowoomba Regional, Queensland, 435..."
6,6,DEBIT,2,1,95.180000,288.420013,Late delivery,1,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 10:42,First Class,40.468899,15426.517878,"广州市, 广东省, 中国"
7,7,TRANSFER,2,1,68.430000,285.140015,Late delivery,1,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 10:21,First Class,31.510914,14388.545100,"广州市, 广东省, 中国"
8,8,CASH,3,2,133.720001,278.589996,Late delivery,1,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 10:00,Second Class,25.506881,15427.548797,"广州市, 广东省, 中国"
9,9,CASH,2,1,132.149994,275.309998,Late delivery,1,73,Sporting Goods,...,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 9:39,First Class,27.183566,11140.805609,"广州市, 广东省, 中国"

In [2]:
dataset["order date (DateOrders)"] = pd.to_datetime(dataset["order date (DateOrders)"])
# dataset["order date (DateOrders)"]

In [3]:
dataset["shipping date (DateOrders)"] = pd.to_datetime(dataset["shipping date (DateOrders)"])

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 57 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1000 non-null   int64
 1   Type                           1000 non-null   object
 2   Days for shipping (real)       1000 non-null   int64
 3   Days for shipment (scheduled)  1000 non-null   int64
 4   Benefit per order              1000 non-null   float64
 5   Sales per customer             1000 non-null   float64
 6   Delivery Status                1000 non-null   object
 7   Late_delivery_risk             1000 non-null   int64
 8   Category Id                    1000 non-null   int64
 9   Category Name                  1000 non-null   object
 10  Customer City                  1000 non-null   object
 11  Customer Country               1000 non-null   object
 12  Customer Email                 1000 non-null   object
 13  Customer Fname                 1000 non-null   object
 14  Customer Id                    1000 non-null   int64
 15  Customer Lname                 1000 non-null   object
 16  Customer Password              1000 non-null   object
 17  Customer Segment               1000 non-null   object
 18  Customer State                 1000 non-null   object
 19  Customer Street                1000 non-null   object
 20  Customer Zipcode               1000 non-null   float64
 21  Department Id                  1000 non-null   int64
 22  Department Name                1000 non-null   object
 23  Latitude                       1000 non-null   float64
 24  Longitude                      1000 non-null   float64
 25  Market                         1000 non-null   object
 26  Order City                     1000 non-null   object
 27  Order Country                  1000 non-null   object
 28  Order Customer Id              1000 non-null   int64
 29  order date (DateOrders)        1000 non-null   datetime64[ns]
 30  Order Id                       1000 non-null   int64
 31  Order Item Cardprod Id         1000 non-null   int64
 32  Order Item Discount            1000 non-null   float64
 33  Order Item Discount Rate       1000 non-null   float64
 34  Order Item Id                  1000 non-null   int64
 35  Order Item Product Price       1000 non-null   float64
 36  Order Item Profit Ratio        1000 non-null   float64
 37  Order Item Quantity            1000 non-null   int64
 38  Sales                          1000 non-null   float64
 39  Order Item Total               1000 non-null   float64
 40  Order Profit Per Order         1000 non-null   float64
 41  Order Region                   1000 non-null   object
 42  Order State                    1000 non-null   object
 43  Order Status                   1000 non-null   object
 44  Order Zipcode                  33 non-null     float64
 45  Product Card Id                1000 non-null   int64
 46  Product Category Id            1000 non-null   int64
 47  Product Description            0 non-null      float64
 48  Product Image                  1000 non-null   object
 49  Product Name                   1000 non-null   object
 50  Product Price                  1000 non-null   float64
 51  Product Status                 1000 non-null   int64
 52  shipping date (DateOrders)     1000 non-null   datetime64[ns]
 53  Shipping Mode                  1000 non-null   object
 54  Shipping Cost                  1000 non-null   float64
 55  Distance                       1000 non-null   float64
 56  order_coords                   896 non-null    object
dtypes: datetime64[ns](2), float64(17), int64(15), object(23)
memory usage: 445.4+ KB

In [5]:
dataset.isnull().sum()

Unnamed: 0                          0
Type                                0
Days for shipping (real)            0
Days for shipment (scheduled)       0
Benefit per order                   0
Sales per customer                  0
Delivery Status                     0
Late_delivery_risk                  0
Category Id                         0
Category Name                       0
Customer City                       0
Customer Country                    0
Customer Email                      0
Customer Fname                      0
Customer Id                         0
Customer Lname                      0
Customer Password                   0
Customer Segment                    0
Customer State                      0
Customer Street                     0
Customer Zipcode                    0
Department Id                       0
Department Name                     0
Latitude                            0
Longitude                           0
Market                              0
Order City                          0
Order Country                       0
Order Customer Id                   0
order date (DateOrders)             0
Order Id                            0
Order Item Cardprod Id              0
Order Item Discount                 0
Order Item Discount Rate            0
Order Item Id                       0
Order Item Product Price            0
Order Item Profit Ratio             0
Order Item Quantity                 0
Sales                               0
Order Item Total                    0
Order Profit Per Order              0
Order Region                        0
Order State                         0
Order Status                        0
Order Zipcode                     967
Product Card Id                     0
Product Category Id                 0
Product Description              1000
Product Image                       0
Product Name                        0
Product Price                       0
Product Status                      0
shipping date (DateOrders)          0
Shipping Mode                       0
Shipping Cost                       0
Distance                            0
order_coords                      104
dtype: int64

In [6]:
dataset.drop("Order Zipcode", axis=1, inplace=True)
dataset.drop("Product Description", axis=1, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  datetime64[ns]
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Product Card Id                180519 non-null  int64
 44  Product Category Id            180519 non-null  int64
 45  Product Image                  180519 non-null  object
 46  Product Name                   180519 non-null  object
 47  Product Price                  180519 non-null  float64
 48  Product Status                 180519 non-null  int64
 49  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 50  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](2), float64(13), int64(14), object(22)
memory usage: 70.2+ MB

In [7]:
dataset = dataset[dataset["Delivery Status"] != "Shipping canceled"]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 0 to 999
Data columns (total 57 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     924 non-null    int64
 1   Type                           924 non-null    object
 2   Days for shipping (real)       924 non-null    int64
 3   Days for shipment (scheduled)  924 non-null    int64
 4   Benefit per order              924 non-null    float64
 5   Sales per customer             924 non-null    float64
 6   Delivery Status                924 non-null    object
 7   Late_delivery_risk             924 non-null    int64
 8   Category Id                    924 non-null    int64
 9   Category Name                  924 non-null    object
 10  Customer City                  924 non-null    object
 11  Customer Country               924 non-null    object
 12  Customer Email                 924 non-null    object
 13  Customer Fname                 924 non-null    object
 14  Customer Id                    924 non-null    int64
 15  Customer Lname                 924 non-null    object
 16  Customer Password              924 non-null    object
 17  Customer Segment               924 non-null    object
 18  Customer State                 924 non-null    object
 19  Customer Street                924 non-null    object
 20  Customer Zipcode               924 non-null    float64
 21  Department Id                  924 non-null    int64
 22  Department Name                924 non-null    object
 23  Latitude                       924 non-null    float64
 24  Longitude                      924 non-null    float64
 25  Market                         924 non-null    object
 26  Order City                     924 non-null    object
 27  Order Country                  924 non-null    object
 28  Order Customer Id              924 non-null    int64
 29  order date (DateOrders)        924 non-null    datetime64[ns]
 30  Order Id                       924 non-null    int64
 31  Order Item Cardprod Id         924 non-null    int64
 32  Order Item Discount            924 non-null    float64
 33  Order Item Discount Rate       924 non-null    float64
 34  Order Item Id                  924 non-null    int64
 35  Order Item Product Price       924 non-null    float64
 36  Order Item Profit Ratio        924 non-null    float64
 37  Order Item Quantity            924 non-null    int64
 38  Sales                          924 non-null    float64
 39  Order Item Total               924 non-null    float64
 40  Order Profit Per Order         924 non-null    float64
 41  Order Region                   924 non-null    object
 42  Order State                    924 non-null    object
 43  Order Status                   924 non-null    object
 44  Order Zipcode                  20 non-null     float64
 45  Product Card Id                924 non-null    int64
 46  Product Category Id            924 non-null    int64
 47  Product Description            0 non-null      float64
 48  Product Image                  924 non-null    object
 49  Product Name                   924 non-null    object
 50  Product Price                  924 non-null    float64
 51  Product Status                 924 non-null    int64
 52  shipping date (DateOrders)     924 non-null    datetime64[ns]
 53  Shipping Mode                  924 non-null    object
 54  Shipping Cost                  924 non-null    float64
 55  Distance                       924 non-null    float64
 56  order_coords                   824 non-null    object
dtypes: datetime64[ns](2), float64(17), int64(15), object(23)
memory usage: 418.7+ KB

In [8]:
dataset.drop(
    [
        "Customer Lname",
        "Customer Fname",
        "Customer Email",
        "Customer Password",
        "Department Name",
        "Customer Street",
        "Category Name",
        "Product Image",
        "Product Name"
    ],
    axis=1,
    inplace=True
)

In [12]:
days_pred_df = dataset.loc[:, [
    "Days for shipping (real)",
    "Category Id",
    "Customer City",
    "Customer Country",
    "Order City",
    "Order Country",
    "Shipping Mode",
    "Order Item Quantity",
    "Distance"
]]
days_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Days for shipping (real)  924 non-null    int64
 1   Category Id               924 non-null    int64
 2   Customer City             924 non-null    object
 3   Customer Country          924 non-null    object
 4   Order City                924 non-null    object
 5   Order Country             924 non-null    object
 6   Shipping Mode             924 non-null    object
 7   Order Item Quantity       924 non-null    int64
 8   Distance                  924 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 72.2+ KB

In [13]:
days_pred_df.isna().sum()

Days for shipping (real)    0
Category Id                 0
Customer City               0
Customer Country            0
Order City                  0
Order Country               0
Shipping Mode               0
Order Item Quantity         0
Distance                    0
dtype: int64

In [11]:
# Imputing missing numerical data
from sklearn.impute import SimpleImputer
import numpy as np

# # Create a SimpleImputer Class
# imputer = SimpleImputer(missing_values=np.NaN, strategy="mean")

# # Fit the column to the object
# column = "Customer Zipcode"
# imputer = imputer.fit(dataset.loc[:, [column]])

# # Transform the DataFrames column with the fitted data
# days_pred_df.loc[:, column] = imputer.transform(dataset.loc[:, [column]])

In [10]:
days_pred_df.drop("Customer Zipcode", axis=1, inplace=True)

In [14]:

days_pred_df.head()

,Days for shipping (real),Category Id,Customer City,Customer Country,Customer State,Market,Order City,Order Country,Order Region,Order State,Shipping Mode,Order Item Quantity
0,3,73,Caguas,Puerto Rico,PR,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,Standard Class,1
1,5,73,Caguas,Puerto Rico,PR,Pacific Asia,Bikaner,India,South Asia,Rajastán,Standard Class,1
2,4,73,San Jose,EE. UU.,CA,Pacific Asia,Bikaner,India,South Asia,Rajastán,Standard Class,1
3,3,73,Los Angeles,EE. UU.,CA,Pacific Asia,Townsville,Australia,Oceania,Queensland,Standard Class,1
4,2,73,Caguas,Puerto Rico,PR,Pacific Asia,Townsville,Australia,Oceania,Queensland,Standard Class,1

Feature Engineering for shipping days hypothesis

In [18]:
from scipy.stats import chi2_contingency
def chi_square_test(table):
    stat, p, dof, expected = chi2_contingency(table)
    significance_level = 0.05
    if p <= significance_level:
        print('Dependent (reject H0)')
    else:
        print('Independent (accept H0)')

In [19]:
# test if relations between each columns and traget column(Days for shipping (real)) is strong
column_list = days_pred_df.columns.tolist()
for column in column_list:
    if(column != "Days for shipping (real)"):
        # Create a contingency table
        contingency_table = pd.crosstab(days_pred_df[column], days_pred_df['Days for shipping (real)'])
        print(column)
        chi_square_test(contingency_table)

Category Id
Independent (accept H0)
Customer City
Dependent (reject H0)
Customer Country
Dependent (reject H0)
Customer State
Dependent (reject H0)
Market
Dependent (reject H0)
Order City
Dependent (reject H0)
Order Country
Dependent (reject H0)
Order Region
Dependent (reject H0)
Order State
Dependent (reject H0)
Shipping Mode
Dependent (reject H0)
Order Item Quantity
Independent (accept H0)

"Order Item Quantity" column makes sense from a domain perspective.it logically have an impact on shipping days. it is worth retaining the column even if it doesn't show a significant association in the chi-square test. Plus it will appear in user input so we do not drop any columns from the result of chi square test

In [15]:
from sklearn.preprocessing import OneHotEncoder

one_hot = OneHotEncoder()
encoded = one_hot.fit_transform(days_pred_df[["Order City"]])
encoded.toarray().shape

(172765, 3585)

In [16]:
categorical_cols = [
    "Category Id",
    "Customer City",
    "Customer Country",
    "Order City",
    "Order Country",
    "Shipping Mode"
]
encoded_days_pred_df = pd.get_dummies(days_pred_df, columns=categorical_cols)
encoded_days_pred_df.head()

,Days for shipping (real),Order Item Quantity,Distance,Category Id_2,Category Id_3,Category Id_4,Category Id_5,Category Id_6,Category Id_9,Category Id_10,...,Order Country_Uruguay,Order Country_Uzbekistán,Order Country_Venezuela,Order Country_Vietnam,Order Country_Yemen,Order Country_Zambia,Shipping Mode_First Class,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class
0,3,1,18481.922336,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,5,1,13278.496831,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,4,1,12603.663952,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,1,11625.195512,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2,1,16572.070499,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
encoded_days_pred_df.head()

,Days for shipping (real),Order Item Quantity,Category Id_2,Category Id_3,Category Id_4,Category Id_5,Category Id_6,Category Id_7,Category Id_9,Category Id_10,...,Order Region_Southern Europe,Order Region_US Center,Order Region_West Africa,Order Region_West Asia,Order Region_West of USA,Order Region_Western Europe,Shipping Mode_First Class,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class
0,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
X = encoded_days_pred_df.iloc[:, 1:]
y = encoded_days_pred_df.iloc[:, 0]
X.shape

(924, 902)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
# Create a Random Forest regressor
rf_regressor = RandomForestRegressor(n_estimators=300, random_state=42, max_depth=16)

# Fit the model on the training data
rf_regressor.fit(X_train, y_train)

RandomForestRegressor(max_depth=16, n_estimators=300, random_state=42)

In [20]:
# Predict on the test data
y_pred = rf_regressor.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.7725217477531647

In [21]:
rf_regressor.predict(encoded_days_pred_df.iloc[0:10, 1:])

array([3.70222431, 3.97633124, 3.79077308, 3.62665487, 3.28209017,
       2.        , 2.        , 3.89044323, 2.        , 4.37284588])

In [22]:
y[0:10]

0     3
1     5
2     4
3     3
4     2
6     2
7     2
8     3
9     2
11    5
Name: Days for shipping (real), dtype: int64

In [23]:
import torch
import torch.nn as nn
import torch.optim as optim

In [24]:
# Convert data to PyTorch tensors
X_tensor = torch.tensor(X.values, dtype=torch.float32)
y_tensor = torch.tensor(y.values, dtype=torch.float32).unsqueeze(1)  # Add a dimension for regression

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_tensor, y_tensor, test_size=0.2, random_state=42)

In [97]:
from SimpleNeuralNet import NeuralNetwork

In [112]:
# Set hyperparameters
input_dim = X.shape[1]  # Total number of input features
hidden_dim = 64
# Instantiate the model
model = NeuralNetwork(input_dim, hidden_dim)

# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001, weight_decay = 0.001)

# Training loop
patience = 50
counter = 0
lowest_mse = 9999
num_epochs = 2500
for epoch in range(num_epochs):
    model.train()
    optimizer.zero_grad()
    outputs = model(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    y_pred = model(X_test)
    mse = mean_squared_error(y_test.detach().numpy(), y_pred.detach().numpy())
    if mse < lowest_mse:
        lowest_mse = mse
        counter = 0
    else:
        counter += 1
        if counter >= patience:
            print(f"Breaking early at epoch {epoch}, MSE:{mse}")
            break
    
    if (epoch + 1) % 500 == 0:
        print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [500/2500], Loss: 2.8735
Epoch [1000/2500], Loss: 1.4957
Breaking early at epoch 1461, MSE:2.361922025680542

In [113]:
# Evaluation
model.eval()
with torch.no_grad():
    y_pred = model(X_test)
    mse = mean_squared_error(y_test.numpy(), y_pred.numpy())
    print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 2.3619

In [79]:
import numpy as np
prediction = model(torch.Tensor(X[0:10].to_numpy())).flatten().detach().numpy()
np.concatenate((prediction.reshape(-1, 1), y[0:10].to_numpy().reshape(-1,1)), axis=1)

array([[4.47422218, 3.        ],
       [3.88098907, 5.        ],
       [3.33858013, 4.        ],
       [2.64168739, 3.        ],
       [3.97735786, 2.        ],
       [3.28903008, 2.        ],
       [2.49983597, 2.        ],
       [4.02464294, 3.        ],
       [1.87485611, 2.        ],
       [4.38385582, 5.        ]])

In [117]:
# Set hyperparameters
input_dim = X.shape[1]  # Total number of input features
hidden_dim = 128

# Instantiate the model
model128 = NeuralNetwork(input_dim, hidden_dim)

# Define loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.Adam(model128.parameters(), lr=0.001, weight_decay=0.001)

# Training loop
patience = 50
counter = 0
lowest_mse = 9999
num_epochs = 2500
for epoch in range(num_epochs):
    model128.train()
    optimizer.zero_grad()
    outputs = model128(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    y_pred = model128(X_test)
    mse = mean_squared_error(y_test.detach().numpy(), y_pred.detach().numpy())
    if mse < lowest_mse:
        lowest_mse = mse
        counter = 0
    else:
        counter += 1
        if counter >= patience:
            print(f"Breaking early at epoch {epoch}, MSE:{mse}")
            break

    if (epoch + 1) % 500 == 0:
        print(f"Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}")

Epoch [500/2500], Loss: 1.1456
Breaking early at epoch 920, MSE:2.3605539798736572

In [118]:
# Evaluation
model128.eval()
with torch.no_grad():
    y_pred = model128(X_test)
    mse = mean_squared_error(y_test.numpy(), y_pred.numpy())
    print(f"Mean Squared Error: {mse:.4f}")

Mean Squared Error: 2.3606

In [119]:
import numpy as np
prediction = model128(torch.Tensor(X[0:10].to_numpy())).flatten().detach().numpy()
np.concatenate((prediction.reshape(-1, 1), y[0:10].to_numpy().reshape(-1,1)), axis=1)

array([[4.05766296, 3.        ],
       [4.09886551, 5.        ],
       [3.50553489, 4.        ],
       [2.32709098, 3.        ],
       [3.49552894, 2.        ],
       [2.54587531, 2.        ],
       [1.66769385, 2.        ],
       [3.84339118, 3.        ],
       [1.69345737, 2.        ],
       [4.58982706, 5.        ]])

In [120]:
torch.save(model128.state_dict(), 'model128.pth')

In [35]:
import requests

# URL of your Flask app's predict route
url = 'http://localhost:5000/predict'  

# will need preprocessing
input_data = {
    "input_data": [int(i) for i in X_tensor[0]] 
}

# Send POST request
response = requests.post(url, json=input_data)

if response.status_code == 200:
    data = response.json()
    predictions = data['predictions']
    print("Predictions:", predictions)
else:
    print("Error:", response.text)

Predictions: [4.270360946655273]

In [4]:
dataset.shape

(180519, 53)