In [1]:
import numpy as np
import pandas as pd

In [2]:
import math

In [3]:
scm_data = pd.read_csv('DataCoSupplyChainDataset.csv', encoding='latin1')

In [4]:
scm_data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [5]:
scm_data.dtypes

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Late_delivery_risk                 int64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Description              float64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
dtype: object

In [6]:
distinct_shipping_modes = scm_data['Shipping Mode'].unique()
print(distinct_shipping_modes)

['Standard Class' 'First Class' 'Second Class' 'Same Day']

In [7]:
distinct_shipping_modes = scm_data['Delivery Status'].unique()
print(distinct_shipping_modes)

['Advance shipping' 'Late delivery' 'Shipping on time' 'Shipping canceled']

In [8]:
def calculate_shipping_cost(shipping_mode):
    if shipping_mode == 'Same Day':
        return round(np.random.uniform(8.0, 10.0), 2)
    elif shipping_mode == 'First Class':
        return round(np.random.uniform(6.0, 8.0), 2)
    elif shipping_mode == 'Second Class':
        return round(np.random.uniform(4.0, 6.0), 2)
    elif shipping_mode == 'Standard Class':
        return round(np.random.uniform(1.0, 4.0), 2)
    else:
        return None

In [9]:
scm_data['Shipping Cost'] = scm_data['Shipping Mode'].apply(calculate_shipping_cost)

In [10]:
scm_data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Shipping Cost
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class,2.09
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class,2.70
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class,3.48
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class,2.32
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class,2.18

In [11]:
distinct_shipping_modes = scm_data['Category Name'].unique()
print(distinct_shipping_modes)

['Sporting Goods' 'Cleats' 'Shop By Sport' "Women's Apparel" 'Electronics'
 'Boxing & MMA' 'Cardio Equipment' 'Trade-In' "Kids' Golf Clubs"
 'Hunting & Shooting' 'Baseball & Softball' "Men's Footwear"
 'Camping & Hiking' 'Consumer Electronics' 'Cameras ' 'Computers'
 'Basketball' 'Soccer' "Girls' Apparel" 'Accessories' "Women's Clothing"
 'Crafts' "Men's Clothing" 'Tennis & Racquet' 'Fitness Accessories'
 'As Seen on  TV!' 'Golf Balls' 'Strength Training' "Children's Clothing"
 'Lacrosse' 'Baby ' 'Fishing' 'Books ' 'DVDs' 'CDs ' 'Garden' 'Hockey'
 'Pet Supplies' 'Health and Beauty' 'Music' 'Video Games' 'Golf Gloves'
 'Golf Bags & Carts' 'Golf Shoes' 'Golf Apparel' "Women's Golf Clubs"
 "Men's Golf Clubs" 'Toys' 'Water Sports' 'Indoor/Outdoor Games']

In [12]:
hertfordshire_lat = 51.8097823
hertfordshire_lon = -0.2376744

In [13]:
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371  
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    # Haversine formula
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c

    return distance

In [14]:
scm_data['Distance'] = scm_data.apply(lambda row: haversine_distance(row['Latitude'], row['Longitude'], hertfordshire_lat, hertfordshire_lon), axis=1)

In [15]:
scm_data = scm_data.head(1000)

In [16]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic

In [17]:
geolocator = Nominatim(user_agent="city_distance_calculator")

def geocode_location(row):
    try:
        query = dict()
        query["city"] = row["Order City"]
        query["state"] = row["Order State"]
        query["country"] = row["Order Country"]
        location = geolocator.geocode(
            query,
            exactly_one=True
        )
        if location is None:
            return None
        return location
    except:
        return None

scm_data['order_coords'] = scm_data.apply(geocode_location, axis=1)
scm_data['order_coords']

0      (Kota Bekasi, Jawa Barat, Jawa, Indonesia, (-6...
1      (Bikaner, Bikaner Tehsil, Bikaner District, Ra...
2      (Bikaner, Bikaner Tehsil, Bikaner District, Ra...
3      (Townsville, Townsville City, Queensland, 4810...
4      (Townsville, Townsville City, Queensland, 4810...
                             ...
995    (Bognor Regis, Felpham, Arun, West Sussex, Eng...
996    (Waterlooville, Havant, Hampshire, England, Un...
997    (ValÃ¨ncia, Comarca de ValÃ¨ncia, ValÃ¨ncia / Val...
998    (Biarritz, Bayonne, PyrÃ©nÃ©es-Atlantiques, Nouv...
999    (Aix-en-Provence, Bouches-du-RhÃ´ne, Provence-A...
Name: order_coords, Length: 1000, dtype: object

In [18]:
distances = [0] * scm_data.shape[0]

for index, row in scm_data.iterrows():
    if row['order_coords'] is None:
        distances[index] = row["Distance"]  # Unable to geocode one or both locations, fallback
    else:
        start_coords = (row['order_coords'].latitude, row['order_coords'].longitude)
        end_coords = (row['Latitude'], row['Longitude'])
        distance = geodesic(start_coords, end_coords).kilometers
        distances[index] = distance

scm_data['Distance'] = distances

In [22]:
scm_data['Shipping Cost'] = scm_data.apply(lambda row: row["Shipping Cost"] * row["Distance"] / 3000, axis=1)
scm_data['Shipping Cost']

0      12.875739
1      11.950647
2      14.620250
3       8.990151
4      12.042371
         ...
995     3.448536
996     8.030361
997     2.062947
998     5.388115
999     7.574678
Name: Shipping Cost, Length: 1000, dtype: float64

In [20]:
scm_data.to_csv("dataCo1kDistance.csv")

In [16]:
import pandas as pd
pd.read_csv("dataCo1kDistance.csv").to_csv("dataCo1kDistance2.csv", encoding="utf-7")
# utf-8 doesn't import in mysql but utf-7 does
# wut???